<h1><%= @project.name %></h1>

<p><%= @project.description %></p>

<%= link_to "Edit", edit_project_path(@project) %>
<%= link_to "Back to projects", projects_path %>

<h2>Tasks</h2>

<%= link_to "New task", new_project_task_path(@project) %>

<ul>
  <% @project.tasks.each do |task| %>
    <li>
      <%= link_to task.title, [@project, task] %>
      (<%= task.completed? ? "done" : "pending" %>)
    </li>
  <% end %>
</ul>
